## ION Indexer configuration example

# Masterchain block seqno to start indexing from. Make sure that the node contains all blocks from this seqno.
ION_WORKER_FROM=
# Path to ION full node database. Usually it is "/var/ion-work/db/" if you've installed node with myionctrl.
ION_WORKER_DBROOT=/var/ion-work/db/
# Additional arguments for ion-index-postgres worker.
ION_WORKER_ADDITIONAL_ARGS=

# Port to publish by ION Indexer API.
ION_INDEXER_API_PORT=8081
# ION HTTP API endpoint. If left empty some proxy methods (such as POST /message) won't work.
ION_INDEXER_ION_HTTP_API_ENDPOINT=
# Base path for ION Indexer API. Useful for reverse proxy setups.
ION_INDEXER_API_ROOT_PATH=/
# Whether to testnet or mainnet is being indexed. 
# It affects address formats and interfaces detecting (e.g. ION DNS collection has different address in testnet)
ION_INDEXER_IS_TESTNET=0
# Baseurl is used to proxied metadata, will be substituted in proxied urls
ION_INDEXER_IMGPROXY_BASEURL=http://localhost:8201/

# PostgreSQL instance connection settings. 
# By default, it uses the `postgres` service in the same Docker network.
# If you want to use a different PostgreSQL instance, set these variables accordingly.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD_FILE=private/postgres_password
POSTGRES_DB=ion_index
# Port to publish by PostgreSQL instance.
POSTGRES_PUBLISH_PORT=5432
# Additional arguments for PostgreSQL instance
POSTGRES_ADDITIONAL_ARGS="-c max_connections=1024 -c shared_buffers=4GB -c work_mem=64MB -c max_wal_size=1GB -c tcp_keepalives_idle=60 -c tcp_keepalives_interval=60 -c tcp_keepalives_count=60"

# Metadata and ImageProxy settings
# Salt and Key are used to sign proxied image urls, hex strings are expected
# Use command `openssl rand -hex 16` or `head -c 16 /dev/urandom | xxd -p` to generate salt and private key
IMGPROXY_SALT=
IMGPROXY_KEY=
IMGPROXY_PORT=8201
# Specify some user agent to avoid blocking from hosting services
IMGPROXY_USER_AGENT="Chrome/133.0.0.0"

# API Emulate settings
# additional args for task emulator
ION_EMULATE_ADDITIONAL_ARGS=
ION_EMULATE_API_PORT=8082
