[submodule "ion-index-cpp"]
	path = ion-index-cpp
	url = https://github.com/ice-blockchain/ion-index-worker
[submodule "ion-index-go"]
	path = ion-index-go
	url = https://github.com/ice-blockchain/ion-index-go